@media (prefers-color-scheme: dark) {
    body {
      background-color: #000000 !important;
    }
    p, pre, ui, li {
        color: white !important;
    }
    a:link {
        color: #0096e2 !important;
    }
    a:visited {
        color: #9d57df !important;
    }
    h1,h2,h3,h4,h5,h6,h7,h9,strong, title {
      color: orange !important;
    }
    blockquote {
       background-color: #121212 !important;
       color: white !important;
    }
    span{color:#fff !important;}
}

@media (prefers-color-scheme: light) {
    a:visited {
        color: #f44236 !important;
    }
    a:link {
        color: #f44236 !important;
    }
}

